* {
   box-sizing: border-box;
   font-weight: normal;
   cursor: url('../assets/dotcursor.svg'), auto;
}

/* declaring global CSS variables */
:root {
 --title-color: #8367f4;
 --text-color: #6d24ff;
 --bg-color: #e0e0df;
 --page-margins: 3%;
 --non-hover-opacity: 40%;
 --seconds-for-animation: 2s;
}


body{
  margin: var(--page-margins) 1% var(--page-margins) 1%;
  background-color: var(--bg-color);
  color: var(--title-color);
  height: 100vh;
  overflow: hidden;
  /* cursor: url('../dotcursor.svg'), auto; */
}


/* Setting container to flex and width to 80% of view port */
.mainContainer{
    display: flex;
    /* width: 98%; */
    height: 94%; /*100-6*/
}

.tabTitle{
  /* font-family: 'Sprat'; */
  font-family: 'Lincoln';
  writing-mode: vertical-lr;
  font-size: 6vh;
  /* prevent line break in title */
  white-space: nowrap;
  overflow: hidden;
}

/*Adding background image to each section*/
.one{
  background-color: red;
}
.two{
  background-color: pink;
}
.three{
  background-color: yellow;
}
.four{
  background-color: green;
}
.five{
  /* background-color: blue; */
}

/* properties and transition effect to section  */
.section{
    display: flex;
    flex-direction: row;
    /* cursor: pointer; */
    flex: 0.2; /* also attends to min flex*/
    /* margin:4px; */
    position: relative;
    transition: all 0.7s ease-out;
}

/* section with active class will grow flex to 3 times  */
.section.active{
    flex: 3;
}

/* diagonal lines on hover over tab */
.section:not(.active):hover{
  background: repeating-linear-gradient(
    -45deg,
    /* thin, start */
    var(--title-color),
    var(--title-color) 2px,
    var(--bg-color) 2px,
    /* thick */
    var(--bg-color) 10px
    );
}

.tabSection{
  display: flex;
  flex-direction: column;
  /* background: violet; */
  margin: 0 auto;
  font-family: 'Sprat';
  font-variation-settings: "wdth" 122, "wght" 40;
  overflow: auto;
}

.section:not(.active)>.tabSection{
  /* hide section inner tab when section isn't active */
  display: none;
}

.infoElement{
  width: 45vw;
  font-size: 2.5vh;

}
